.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
}

.grid-2-col-2-0_5 {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  column-gap: 8rem;
}

.grid-2-col-0_5-2 {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  column-gap: 8rem;
}

.grid-4-col__footer {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
  column-gap: 6.4rem;
  row-gap: 4.8rem;

  @media only screen and (max-width: $bp-footer) {
    column-gap: 3.6rem;
  }

  @media only screen and (max-width: $bp-footer-2) {
    grid-template-columns: 1fr 1fr;
    column-gap: 6.4rem;
  }
}

.all-line {
  grid-column: 1 / -1; // Rozciąga się od pierwszej do ostatniej kolumny
}

.first-column {
  grid-column: 1 / 2; // Rozciąga się od pierwszej do drugiej kolumny
}

.second-column {
  grid-column: 2 / -1;
}

.grid-center-justify {
  justify-items: center; // Wyśrodkowanie elementów w poziomie
  // align-items: center; // Wyśrodkowanie elementów w pionie
}

.grid-center-align {
  // Wyśrodkowanie elementów w poziomie
  align-items: center; // Wyśrodkowanie elementów w pionie
}

.column-gap-0_8 {
  column-gap: 0.8rem;
}
.row-gap-4_8 {
  row-gap: 4.8rem;
}
