.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 0.5rem 6rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  width: 100%;

  &--with-background {
    background-color: rgba($black, 0.7);
  }

  &__logo img {
    height: 10rem;
  }

  &__toggle {
    display: none; // Domyślnie hamburger ukryty
    font-size: 3rem;
    background: none;
    border: none;
    color: $font-color-primary;
    cursor: pointer;
    z-index: 1001;

    @media (max-width: 75rem) {
      display: block; // Pokaż hamburger na mobile
    }
  }

  &__overlay {
    position: static;
    background: none;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    transition: none;

    @media only screen and (max-width: $bp-navigation) {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $black, $background-color);
      // background-color: rgba(0, 0, 0, 0.95);

      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: left 0.3s ease;

      &--active {
        left: 0;
      }
    }
  }

  &__links {
    gap: 3rem;
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;

    a {
      color: $font-color-primary;
      text-decoration: none;
      padding: 1rem 2rem;
      font-weight: $font-strong;
      display: inline-block;
      border-radius: 5rem;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $font-color-primary 50%,
        darken($font-color-primary, 10%) 100%
      );

      background-size: 250%;
      transition: all 0.4s;

      &:hover {
        background-position: 100%;
        color: $black;
        transform: translateX(1rem);
      }

      &:active {
        transform: translate(1rem, 0.1rem);
      }
    }

    @media only screen and (max-width: $bp-navigation) {
      flex-direction: column;
      gap: 3rem;
      opacity: 0;
      transform: translateY(3rem);
      font-size: 2.4rem;
      transition: all 0.4s;

      &--active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
