.action-confirm-modal {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  transition: opacity 0.3s;
  animation: showUp 0.3s ease-in-out;

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;

    @media only screen and (max-width: $bp-footer-3) {
      width: 40rem;
      padding: 3rem 3.2rem;
    }

    &-btn_close {
      position: absolute;
      top: 1rem;
      right: 1.8rem;
      background: none;
      border: none;
      font-size: 3.6rem;
      cursor: pointer;
      z-index: 102;
      color: $font-color-text;
      transition: all 0.3s;
      &:hover {
        color: $font-color-primary;
      }
    }

    &__content {
      @extend %animated-gradient-bg;
      background-color: $black;
      border-radius: 1rem;
      padding: 4rem 4.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      &--header {
        text-align: center;
        font-size: 2.6rem;
        font-weight: $font-strong;
      }

      &--text {
        text-align: center;
        font-size: 1.8rem;
        color: $font-color-text;
      }
      &__actions {
        display: flex;
        gap: 2rem;
        margin-top: 1.6rem;
      }
    }
  }
}
