.add-edit-address {
  &__content {
    @extend %animated-gradient-bg;
    background-color: $black;
    border-radius: 1rem;
    padding: 4rem 6.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // max-width: max-content;
    @media only screen and (max-width: $bp-footer-3) {
      padding: 4rem 2.8rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &--input {
        width: 40rem;
        height: 5rem;
        padding: 1.5rem;
        border-radius: 0.5rem;
        border: 0.6rem solid transparent;
        background-color: $font-color-text;
        color: $black;
        font-size: 1.8rem;
        font-weight: $font-strong;
        font-family: inherit;
        text-align: left;
        display: block;
        transition: all 0.3s ease-in-out;

        &::placeholder {
          color: $color-grey-dark;
        }

        &::-webkit-calendar-picker-indicator {
          opacity: 0;
          width: 0;
          padding: 0;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type="number"] {
          -moz-appearance: textfield;
        }

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba($black, 0.1);
          border: 0.6rem solid $font-color-primary-litle-dark;
        }
        @media only screen and (max-width: $bp-footer-4) {
          width: 100%;
        }
      }

      &--hint {
        font-size: 1.4rem;
      }

      &--phone-wrapper {
        display: flex;
        gap: 0.8rem;
        width: 40rem;

        .add-edit-address__form__field--input {
          flex: 1;
          width: 15rem;
        }

        @media only screen and (max-width: $bp-footer-4) {
          width: 100%;
        }
      }

      &--select-prefix {
        appearance: none;
        height: 5rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        border: 0.6rem solid transparent;
        background-color: $font-color-text;
        color: $black;
        // font-size: 1.5rem;
        font-weight: $font-strong;
        font-family: inherit;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
        width: 12rem;

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba($black, 0.1);
          border: 0.6rem solid $font-color-primary-litle-dark;
        }
      }
    }
    &__checkbox {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      &--btn {
        flex-shrink: 0;
        background-color: $black;
      }

      label {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    &__btns {
      margin-top: 2.6rem;
      display: flex;
      gap: 2.4rem;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: $bp-footer-5) {
        flex-direction: column;
      }
    }
  }

  .frame {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }
}
