.address-details {
  margin-bottom: 8rem;

  &__btn {
    margin-bottom: 4rem;
  }

  &__btn {
    margin-top: 2rem;
    // display: flex;
    padding: 1.4rem 3rem 1.1rem;
    // gap: 2.4rem;
  }

  &__cards {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
}
