.text-color {
  gap: 2rem;
  display: flex;

  align-items: center;

  &--item {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid $font-color-primary;
    color: $font-color-primary;
    font-weight: $font-stronger;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // padding-bottom: 1.8rem;
    // background-color: $color-white;

    &--marker {
      padding: 0.2rem;
    }
  }
}
