.icon-contact {
  height: 2.4rem;
  width: 2.4rem;
  // fill: $font-color-primary;
}

.icon-follow-and-shop,
.icon-how-we-work {
  height: 3.2rem;
  width: 3.2rem;
  fill: $font-color-text;
  // fill: $font-color-primary;
  transition:
    fill 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  &:hover {
    fill: $font-color-primary;
    transform: scale(1.1);
  }
}

.icon-animated-bar {
  height: 3.6rem;
  width: 3.6rem;
  fill: $font-color-primary;
  //
  display: block;
  // vertical-align: middle;
}

.icon-nav-svg {
  height: 3rem;
  width: 3rem;
  margin-top: 0.6rem;
  // color: #000;
  @media only screen and (max-width: $bp-navigation) {
    height: 5.2rem;
    width: 5.2rem;
    margin-top: 1.2rem;
  }
}

.icon-catalog-svg {
  height: 3.2rem;
  width: 3.2rem;
  // color: #000;
}

.icon-catalog,
.icon-store,
.icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 1;
  pointer-events: none;

  &-dimations {
    font-size: 3.6rem;
  }
}

.icon-hidden {
  opacity: 0;
}

.icon-close {
  opacity: 0;
  color: #000;
}

.icon-close.icon-visible {
  opacity: 1;
}
.icon-shop {
  position: relative;

  &__quantity {
    position: absolute;
    // top: auto;
    // right: auto;
    top: 0rem;
    right: -0.8rem;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: $font-color-primary;
    color: $black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
}
