.icon-contact {
  height: 2.4rem;
  width: 2.4rem;
  // fill: $font-color-primary;
}

.icon-follow-and-shop,
.icon-how-we-work {
  height: 3.2rem;
  width: 3.2rem;
  fill: $font-color-text;
  // fill: $font-color-primary;
  transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover {
    fill: $font-color-primary;
    transform: scale(1.1);
  }
}

.icon-animated-bar {
  height: 3.6rem;
  width: 3.6rem;
  fill: $font-color-primary;
  //
  display: block;
  // vertical-align: middle;
}

.icon-shopping-bag {
  height: 3.2rem;
  width: 3.2rem;
}

.icon-store,
.icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 1;
  pointer-events: none;

  &-dimations {
    font-size: 3.6rem;
  }
}

.icon-hidden {
  opacity: 0;
}

.icon-close {
  opacity: 0;
}

.icon-close.icon-visible {
  opacity: 1;
}
