.shopping-cart,
.order-cart {
  margin-bottom: 8rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__content {
    .frame {
      display: block;
      width: 100%;
    }

    .add-edit-address__content {
      width: 100%;
    }

    .add-edit-address__form__field--input,
    .add-edit-address__form__field--phone-wrapper {
      width: 100%;
    }
  }

  &__summary {
    @extend %sticky;

    .frame {
      min-height: 30rem;
      display: block;
    }

    &__content {
      @extend %animated-gradient-bg;
      background-color: $black;
      border-radius: 1rem;
      padding: 4rem 4.8rem;
      box-sizing: border-box;
      height: 100%;
      // text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2.48rem;
      justify-content: center;
      // align-items: center;

      &__total-price {
        display: flex;
        justify-content: space-between;
        // justify-contenyyyt: center;

        // margin: 2rem 0;

        &_text {
          font-weight: $font-strong;
          color: $font-color-primary;
          font-size: 2.4rem;
        }

        &_sum {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          &--value {
            font-weight: $font-strong;
            color: $font-color-primary;
            font-size: 2.4rem;
          }
          &--text {
            margin: 0;
            color: rgba($font-color-primary, 0.7);
            font-size: 1.4rem;
            line-height: 1.3;
          }
        }
      }
      @media only screen and (max-width: 58rem) {
        &_btn {
          align-self: center;
          // width: 13rem;
          width: 26rem;
        }
      }
    }
  }
}
