.about-us {
  // padding: 0 0 3.2rem 0;
  // height: 300rem;

  &__mission {
    @extend %section-background;
  }

  &__choose-us {
    padding-top: 16rem;
    // padding-bottom: 3.2rem;
    // min-height: 80rem;
    // min-height: 94.6rem;
    min-height: 120rem;
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(
          rgba(34, 34, 34, 0.6),
          rgba(34, 34, 34, 0.6)
        ),
        url(../../assets/about_us/background1.webp);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      z-index: -1;
      // animation: fadeInSlide 1s ease-in-out forwards;
    }

    &__list {
      text-align: justify;

      &--item {
        font-weight: $font-strong;
        // color: $font-color-primary;
        margin-bottom: 1.6rem;

        &::marker {
          color: $font-color-primary; // kolor kropek
        }

        a {
          color: $font-color-primary;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: darken($font-color-primary, 20%);
            text-decoration: none;
          }
        }
      }
    }
  }

  &__container {
    @extend %container-style;

    &__content {
      text-align: justify;
    }
  }
  &__how-we-work {
    // height: 100vh;
    // width: 100vw;
    background-image: url(../../assets/about_us/background2.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    // animation: fadeInSlide 1s ease-in-out forwards;
  }
}
