.assortment {
  @extend %section-background;

  &__container {
    @extend %container-style;
    height: 100vh;

    &__btns {
      margin-top: 14.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4.8rem;
    }
  }
}
