.contact {
  @extend %section-background;

  &__container {
    @extend %container-style;

    .contact__container__photo {
      min-width: 16rem;
      width: 70%;
      height: auto;
      // align-self: center;
      // justify-self: center;

      @media only screen and (max-width: 52rem) {
        min-width: 0;
        width: 60%;
        align-self: center;
        justify-self: center;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &__content {
      text-align: justify;
    }

    &__form {
      // border: 0.2rem solid $font-color-text;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      justify-content: center;
      text-align: center;
      // align-items: center;

      border-radius: 1rem;
      min-height: 60rem;
      height: auto;
      padding: 2.4rem;

      background-image: linear-gradient(
        135deg,
        $background-color,
        $background-color-darekr,
        $black
      );
      background-size: 200% 200%;
      animation: gradientShift 10s ease infinite;

      &--image {
        width: 100%;
        height: auto;
      }
    }
  }

  &__company-info {
    &--heading {
      margin-bottom: 1rem;
    }

    &--icon-and-link {
      display: flex; /* Ustawia ikonę i tekst w jednej linii */
      align-items: center; /* Wyrównuje ikonę i tekst pionowo */
      text-decoration: none;
      color: inherit;
      gap: 0.8rem; /* Odstęp między ikoną a tekstem */
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $font-color-primary;
      }
    }
    // &--text {
    //   // display: flex;
    //   // gap: 3.2rem;
    // }
  }
}

.account-info {
  @media only screen and (max-width: 48.2rem) {
    margin-left: 9.8rem;
  }

  @media only screen and (max-width: 41.2rem) {
    margin-left: 0;
  }
}
