.contact {
  @extend %section-background;

  &__container {
    @extend %container-style;

    .contact__container__photo {
      min-width: 16rem;
      width: 70%;
      height: auto;
      // align-self: center;
      // justify-self: center;

      @media only screen and (max-width: 52rem) {
        margin-top: -2rem;
        margin-left: -2rem;
        min-width: 0;
        width: 40%;
        align-self: center;
        justify-self: center;
      }
      @media only screen and (max-width: 40rem) {
        width: 50%;
      }
      @media only screen and (max-width: 30rem) {
        width: 60%;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &__content {
      text-align: justify;
    }

    &__form {
      // border: 0.2rem solid $font-color-text;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      justify-content: center;
      text-align: center;
      // align-items: center;

      border-radius: 1rem;
      min-height: 60rem;
      height: auto;
      padding: 2.4rem;

      background-image: linear-gradient(
        135deg,
        $background-color,
        $background-color-darekr,
        $black
      );
      background-size: 200% 200%;
      animation: gradientShift 10s ease infinite;

      &--image {
        width: 100%;
        height: auto;
        @media only screen and (max-width: 52rem) {
          width: 70%;
          align-self: center;
          justify-self: center;
        }
      }

      @media only screen and (max-width: 52rem) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "photo"
          "text";

        & > .contact__container__form--image:nth-of-type(1) {
          grid-area: photo;
        }
        & > .contact__container__form:nth-of-type(1) {
          grid-area: text;
        }
      }

      @media only screen and (max-width: 24rem) {
        &__contact-form {
          &--form-group {
            &__btns {
              display: flex;
              flex-direction: column;
              gap: 4rem;
            }
          }
        }
      }
    }
  }

  &__company-info {
    &--heading {
      margin-bottom: 1rem;
    }

    &--icon-and-link {
      display: flex; /* Ustawia ikonę i tekst w jednej linii */
      align-items: center; /* Wyrównuje ikonę i tekst pionowo */
      text-decoration: none;
      color: inherit;
      gap: 0.8rem; /* Odstęp między ikoną a tekstem */
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $font-color-primary;
      }
    }
    // &--text {
    //   // display: flex;
    //   // gap: 3.2rem;
    // }
  }
}

.account-info {
  @media only screen and (max-width: 48.2rem) {
    margin-left: 9.8rem;
  }

  @media only screen and (max-width: 41.2rem) {
    margin-left: 0;
  }
}
