.hero {
  padding: 9.2rem 14.6rem;

  &__title {
    font-size: 4rem;
    color: $font-color-primary;
    margin-bottom: 4rem;
    line-height: 1.5;
    font-style: italic;
    text-shadow: 0.3rem 0.3rem 0.8rem rgba($black, 0.8);
    border-bottom: 0.3rem solid rgba($font-color-primary, 0.7);
    display: inline-block;
  }

  &__description {
    font-size: 2.4rem;
    max-width: 80rem;
    margin-bottom: 4.8rem;
    text-shadow: 0.3rem 0.3rem 0.8rem rgba($black, 0.8);
  }
}
