.hero {
  padding: 9.2rem 14.6rem;
  text-shadow: 0.2rem 0.2rem 0.8rem rgba($black, 0.8);

  &__title {
    font-size: 3.2rem;
    color: $font-color-primary;
    margin-bottom: 4rem;
    line-height: 1.5;
    font-style: italic;
  }

  &__description {
    font-size: 2.4rem;
    max-width: 80rem;
    margin-bottom: 4.8rem;
  }

  &__btn {
    background: $font-color-primary;
    color: $black;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 5rem;
    font-size: 1.8rem;
    font-weight: $font-strong;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;

    &:hover {
      transform: translateY(-0.3rem);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $font-color-primary;
      transition: all 0.4s;
    }
  }
}
