.history {
  background: linear-gradient(to bottom, $black, $background-color);
  height: 200vh;

  &__container {
    margin: 0 auto;
    padding: 8rem 4.8rem;
    max-width: 130rem;
    &__content {
      text-align: justify;
    }
  }
}

.all-line {
  grid-column: 1 / -1; // Rozciąga się od pierwszej do ostatniej kolumny
}

.grid-center {
  justify-items: center; // Wyśrodkowanie elementów w poziomie
  // align-items: center; // Wyśrodkowanie elementów w pionie
}
