.history {
  @extend %section-background;

  &__container {
    @extend %container-style;

    &__content {
      text-align: justify;

      &--signature {
        text-align: right;
        // font-weight: $font-stronger;
        font-style: italic;
        margin-bottom: 2.4rem;
        margin-top: 4.8rem;
      }
    }
  }
}

// .visible {
//   opacity: 1;
//   // transition: opacity 0.5s ease-in-out;
//   transform: translateY(0);
// }
