.history {
  background: linear-gradient(to bottom, $black, $background-color);
  height: 200vh;

  &__container {
    margin: 0 auto;
    padding: 12.8rem 4.8rem;
    max-width: 130rem;
    &__content {
      grid-column: 1 / -1; // Rozciąga się od pierwszej do ostatniej kolumny
      text-align: justify;
    }
  }
}
