.materials {
  @extend %section-background;

  &__container {
    @extend %container-style;

    &__photo {
      // width: 80%;
      // height: 80%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain; // Zapewnia odpowiednie dopasowanie obrazu
      }
    }
    &__content {
      text-align: justify;

      &--list {
        font-weight: $font-strong;
        color: $font-color-primary;
      }

      &--text-list {
        list-style: none;
      }
    }
  }
}
