%section-background {
  background: linear-gradient(to bottom, $black, $background-color);
}

%container-style {
  margin: 0 auto;
  padding: 8rem 4.8rem;
  max-width: 130rem;
  @media only screen and (max-width: 76rem) {
    padding-top: 3.2rem;
  }
  @media only screen and (max-width: 60rem) {
    padding-top: 2.4rem;
  }
}

%frame {
  display: inline-block;
  position: relative;
  padding: 1rem; // Odstęp na ramkę
  border: 0.2rem solid $font-color-text;

  background-color: $font-color-text;
  border-radius: 1rem; // Zaokrąglenie rogów ramki
  // box-shadow: 0 1rem 2rem rgba($black, 0.2);
  box-shadow: 0 2.4rem 4.8rem rgba($black, 0.5);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  &:hover {
    // box-shadow: 0 1.5rem 3rem rgba($black, 0.3);
    border-color: $font-color-primary;
  }
  @media only screen and (max-width: 40rem) {
    padding: 0.7rem;
  }
}

%photo-frame {
  @extend %frame;

  &:hover {
    box-shadow: 0 2.6rem 5.8rem rgba($black, 0.6);
    img {
      transform: scale(1.06);
    }
  }
}
