.u-margin-top-mediuum-minus {
  margin-top: -4.8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-xsmall {
  margin-bottom: 1.2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}
.u-margin-bottom-medium-large {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-xlarge {
  margin-bottom: 12rem !important;
}
.u-text-justify {
  text-align: justify !important;
}
.u-text-line-height {
  line-height: 1.8 !important;
}

.u-text-line-center {
  text-align: center !important;
}

.u-font-size-big {
  font-size: 2rem !important;
}

.u-font-strong {
  font-weight: $font-strong !important;
}
