///////////////////////////////////////////////////////////////////////////
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size-primary;
  font-family: $font-primary;
  color: $font-color-text;
  font-weight: $font-weight-primary;
  box-sizing: border-box;
  background-color: $background-color;
}
