body {
  font-size: $font-size-primary;
  font-family: $font-primary;
  color: $font-color-text;
  font-weight: $font-weight-primary;
  background-color: $black;
}

.company-name,
.comapny-bank-account {
  font-weight: $font-stronger;
  color: $font-color-primary;
  font-style: italic;
}

.heading-primary {
  font-size: 3.6rem;
  font-weight: $font-strong;
  color: $font-color-primary;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.heading-secondary,
.heading-primary-privacy {
  font-size: 2.4rem;
  font-weight: $font-strong;
  color: $font-color-primary;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.heading-tertiary,
.heading-secondary-privacy {
  font-size: 3rem;
  font-weight: $font-strong;
  color: $font-color-text;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 3rem;
}

.heading-fourth {
  font-size: 3rem;
  font-weight: $font-strong;
  color: $font-color-text;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 3rem;
}

.heading-fourth-order {
  font-size: 2.6rem;
  font-weight: $font-strong;
  color: $font-color-text;
  text-align: center;
  @media only screen and (max-width: 36.15rem) {
    margin-bottom: 8rem;
  }
  @media only screen and (max-width: 34rem) {
    margin-bottom: 6rem;
  }
  @media only screen and (max-width: 31rem) {
    margin-bottom: 4rem;
  }
  @media only screen and (max-width: 30rem) {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 27rem) {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 26rem) {
    margin-bottom: 0;
  }
}
